<button class="btn btn-primary mb-5" (click)="showList = !showList">
  {{ showList ? "New User" : "List of Users" }}
</button>
<table class="table">
  <div *ngIf="showList">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <th scope="row">{{ user.name }}</th>
        <th scope="row">{{ user.email }}</th>
        <th scope="row">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openDetails(user)"
          >
            Edit
          </button>
        </th>
        <th scope="row">
          <button
            type="button"
            class="btn btn-danger"
            (click)="delete(user)"
          >
            Delete
          </button>
        </th>
      </tr>
    </tbody>
  </div>
  <div *ngIf="!showList">
    <form>
      <div class="form-group">
        <label for="exampleInputName">Name:</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputName"
          aria-describedby="nameHelp"
          placeholder="Enter Name"
          [(ngModel)]="user.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email:</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail"
          placeholder="Email"
          [(ngModel)]="user.email"
          name="email"
        />
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">
        Save
      </button>
    </form>
  </div>
</table>
